@font-face {
    font-family: alexbrush-regular;
    src: url(alexbrush-regular.woff) format('woff'),
	url(alexbrush-regular.ttf) format('ttf');
	font-weight: bold;
}

body {
	background-color: #faf2e4;
	margin-left: 50px;
	margin-right: 50px ;
	font-family: sans-serif;
}

#picture {
	background-position: center center;
	background-repeat: no-repeat;
    background-image: url('Bach_Goldberg_Gould.jpg');
	width:1200px;
    height:300px;
}
#list {
	font-style: italic;
}
#MandP{
	font-family: alexbrush-regular;
}
