body {
	background-color: #EB984E;
	font-family: sans-serif;
	margin-left: 50px;
	margin-right: 50px ;
}

@font-face {
    font-family: alexbrush-regular;
    src: url(alexbrush-regular.woff) format('woff'),
	url(alexbrush-regular.ttf) format('ttf');
	font-weight: bold;
}
a {
  font-family: monospace;
  text-decoration: none;
  color: Green;
}

a:link {
}

a:visited {
	color: Red;
}

a:hover {
	font-weight: bold;
}
a:active{
	text-decoration: underline;
}

#header{
	background-color: #faf2e4;
	font-family: Times;
}

#picture{
	background-color: #EB984E;
	font-family: Times;
	font-weight: bold;
}

#about{
	background-color: #EB984E;
	font-family: Times;
	font-weight: bold;
}

#menu1{
	background-color: #EB984E;
	font-family: Times;
}
#menu1 h3{
	font-weight: bold;
}
#menu1 p{
	font-weight: normal;
}

#menu2{
	background-color: #EB984E;
	font-family: Times;
}
#menu2 h3{
	font-weight: bold;
}
#menu2 p{
	font-weight: normal;
}
#menu2 table{
	width: 60%;
	padding-right: 80px;
}

#footer{
	background-color: #faf2e4;
	font-family: Times;
}
table {
	width: 100%;
}
thead th{
  text-align: center;
}
tbody td{
  text-align: center;
}

